<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 控制台输出：INFO及以上级别，带颜色高亮 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %blue(%-40logger{40}:%-4line)
				%thread [traceId=%X{traceId},username=%X{username}] %msg%n
			</pattern>
		</encoder>
		<!-- 只输出INFO及以上日志 -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<!-- 统一根日志配置 -->
	<root level="TRACE">
		<appender-ref ref="CONSOLE"/>
	</root>

</configuration>
